* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: cadetblue;
 }
 
 .lista_animais {
     display: flex;
     justify-content: center;
     background-color: cadetblue;
     color: white;
     line-height: 50px;
 }
 
 h1 {
     display: flex;
     justify-content: center;
     background-color: black;
     color: white;
 }
 
 .next {
     display: flex;
     justify-content: center;
     background-color: cadetblue;
 }
 
 #cad {
     color: white;
     background-color: black;
     padding: 10px 20px;
 }
 