*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid rgb(6, 199, 247);
}

a:hover {
    color: rgb(6, 199, 247);;
}

a{
    color: rgb(255, 255, 255);
}

.center{
    text-align: center;
}

.container{
    padding: 0px 50px;
}

.etapas{
    background-color:rgb(6, 199, 247);;
}

.texto{
    text-align: justify;
}
